# default
maintain/
node_modules/
img/

# custom
.json
project.md
compose.yaml
build.dockerfile
default.conf
report.sarif
buildx.log
TREADME.md
grype.listing.json
grype.db.tar.gz
vulnerability.db
provider-metadata.json
metadata.json